body {
    font-family: "Space Mono", sans-serif;
    height: 100%;
}

.logo {
    width: 233px;
    height: 25px;
    font-size: 14px;
    margin: 40px 0 0 77px;
    color: #333333;
}

.container { 
    display: flex;
    margin: 150px 200px 200px 77px;
}

img {
    height: 450px;
}

.container-text {
    margin-left: 200px;
}

h1 {
    width: 550px;
    font-size: 58px;
    font-weight: 700;
    color: #333333;
    word-spacing: 5px;
}

p {
    font-size: 22px;
    width: 400px;
    margin-top: 35px;
    color: #4F4F4F;
    word-spacing: 5px;
}

button {
    font-family: 'Space Mono';
    font-size: 14px;
    border: none;
    color: #FFFF;
    font-weight: bold;
    background-color: #333333;
    padding: 20px 35px 20px 35px;
    margin-top: 50px;
    text-transform: uppercase;
}

.contact {
    text-align: center;
    margin-top: 240px;
}

